Dependencies/boost
Dependencies/glm/out
Dependencies/libdatachannel
Dependencies/libdatachannel-wasm

OpenGL/save
OpenGL/Debug
OpenGL/Release

build
build-client
build-server
build-wasm

cert
CMakeCache.txt
CMakeSettings.json

.clang-format
.vs
.cache
CMakeFiles
compile_commands.json
